appendComment("<div class='image-comment'> <%= @comment.value %> <div class='image-comment-buttons-container'>" +  <%= link_to( edit_user_document_image_comment_path(@user,@document,@image, @comment)) do %> + " <div class='image-comment-delete'> </div> " + <% end %> + "</div> </div> ");
